<div class="contact-us pt-lg-4 pb-lg-5">
    <div class="container-sm container-md pt-5 pb-4 custom-container">
        <h3 class="fw-bold">Contact Us</h3>
        <p>In case of any questions do not hesitate to connect us</p>
        <form id="contact-us" >
            <div class="mb-3">
                <label for="name" class="mb-2 fw-medium">Name</label>
                <input type="text" placeholder="Johan" required class="form-field" id="name" name="name" />
            </div>
            <div class="mb-3">
                <label for="email" class="mb-2 fw-medium">Email</label>
                <input type="email" placeholder="tigran@email.com" required class="form-field" id="email" name="email" />
            </div>
            <div class="mb-4">
                <label for="textarea" class="mb-2 fw-medium">Message</label>
                <textarea placeholder="Text" class="form-field" required id="textarea" name="text" rows="4" ></textarea>
            </div>

            <p class="d-none" id="message">Success!!</p>

            <button class="button button-secondary w-100 text-center mb-4 mb-lg-5" id="submit-form" type="submit">Submit</button>
        </form>
        <div class="contacts">
            <div class="d-flex flex-column flex-md-row justify-content-md-between flex-lg-wrap">
                <div class="mb-3 order-lg-2">
                    <div class="fw-bold">Email</div>
                    <a href="mailto:info@marriott-yerevan-opening.com" class="text-dark">info@marriott-yerevan-opening.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="py-4">
    <div class="custom-container container-sm container-md d-flex align-items-center justify-content-between">
        <img src="/img/galaxy.png" alt="galaxy">
        <img src="/img/footer-logo.svg" alt="galaxy">
    </div>
</footer>

