<!doctype html>
<html lang="են">
  <head>
    <meta charset="UTF-8" />
    <title>Ընտանեկան Պատմություններ</title>
    <link rel="icon" type="image/svg+xml" href="/img/favicon.png" />
    <meta name="title" content="Ընտանեկան Պատմություններ" />
    <meta name="description" content="" />
    <meta name="og:title" content="Ընտանեկան Պատմություններ" />
    <meta name="og:description" content="" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1 maximum-scale=1"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body id="body">
    <%- body %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
