<div class="poll-page">
  <div class="title">Շուտով արդյունքները կլինեն էկրանին</div>
  <form id="version-form">
    <div>
      <input
        id="version1"
        type="radio"
        name="version"
        value="1"
        class="version"
      />
      <label class="button button-primary" for="version1">Տարբերակ 1</label>
    </div>
    <div>
      <input
        id="version2"
        type="radio"
        name="version"
        value="2"
        class="version"
      />
      <label class="button button-primary" for="version2">Տարբերակ 2</label>
    </div>
    <div>
      <input
        id="version3"
        type="radio"
        name="version"
        value="3"
        class="version"
      />
      <label class="button button-primary" for="version3">Տարբերակ 3</label>
    </div>
    <button class="confirm" type="submit">Հաստատել</button>
  </form>
</div>
